<style>
  nav {
    visibility: hidden;
  }
</style>

<h1 class="main-title">Welcome to MyLittleTimeTable</h1>

<main class="main-login-signup">
<h2 class="login-title">Please, log in.</h2>
  <div class="form-login-signup">
    <form action="/auth/login" method="POST" class="form">

      <label> Username
        <input type="text" name="username" placeholder="Your username" />
      </label>

      <label> Password
        <input type="password" name="password" placeholder="Your password" />
      </label>

      <button type="submit">Log In</button>
      
      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
    <p>No account yet ?<a href="/auth/signup"> Sign up!</a></p>
  </div>
</main>