<style>
  nav {
    visibility: hidden;
  }
</style>

<main class="main-login-signup">

  <h1 class="main-title animate__animated animate__fadeInDown">TeamTables.</h1>
 
 <section class="title-section">
  <h2 class="login-title">Please, log in.</h2>
    <div class="form-login-signup">
      <form action="/auth/login" method="POST" class="form" id="form">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />

        {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>
      <input type="submit" form="form" value="Log In" class="bn54"/>
      <p>No account yet ?<a href="/auth/signup"> Sign up!</a></p>
    </div>
 </section>
</main>