<style>
  nav {
    visibility: hidden;
  }
</style>

<main class="main-login-signup">
  <h2>Sign Up</h2>
  <div class="form-login-signup">
    <form action="/auth/signup" method="POST">

      <label> Username
        <input type="text" name="username" placeholder="Your username" />
      </label>

      <label> Password
        <input type="password" name="password" placeholder="Your password" />
      </label>

      <button type="submit">Sign Up</button>

      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
    <p>Already have an account ?<a href="/auth/login"> Log in!</a></p>
  </div>
</main>