<html lang='en'>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
      <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <script type="module" src="/js/grid-timetable.js"></script>

        <script
            src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.3/axios.min.js'
            integrity='sha512-wS6VWtjvRcylhyoArkahZUkzZFeKB7ch/MHukprGSh1XIidNvHG1rxPhyFnL73M0FC1YXPIXLRDAoOyRJNni/g=='
            crossorigin='anonymous'
            referrerpolicy='no-referrer'
        ></script>
        {{#each script}}
            <script type='module' src='/js/{{this}}.js'></script>
        {{/each}}
    </head>


  <body>
    <header>
      <nav>
        <ul id="navbar">
          {{!-- <li><a href="/">Home</a></li> --}}
           {{#unless isLoggedIn}}
          <li><a href="/auth/signup">Sign Up</a></li>
          <li><a href="/auth/login">Log In</a></li>
          {{/unless}}
            {{#if isLoggedIn}}
          <li><a href="/profil">Profile</a></li>
          <li><a href="/auth/logout">Log Out</a></li>
          {{/if}}
          {{!-- <li><a href="/users">Users</a></li> --}}
        </ul>
      </nav>
    </header>

        {{{body}}}

    </body>

</html>