<div >
    <h2>TimeTable</h2>
    <div id="timetable">
        <div class="day">
            <h3>Monday</h3>
            <div></div>
        </div>
        <div class="day">
            <h3>Thuesday</h3>
            <div></div>
        </div>
        <div class="day">
            <h3>Wednesday</h3>
            <div></div>
        </div>
        <div class="day">
            <h3>Thursday</h3>
            <div></div>
        </div>
        <div class="day">
            <h3>Friday</h3>
            <div></div>
        </div>
        <div class="day">
            <h3>Saturday</h3>
            <div></div>
        </div>
        <div class="day">
            <h3>Sunday</h3>
            <div></div>
        </div>
    </div>
</div>