<h1>{{TT.title}}</h1>
<div id="divBtn"></div>
<section id="grid"></section>

<template id="createEvent">
  <form id="newEvent">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" />
    <label for="content">Content</label>
    <input type="text" name="content" id="content" />
    <label for="hour">Hour</label>
    <select name="hour" id="hour">
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
    </select>
    <select name="day" id="day">
      <option value="Monday">Monday</option>
      <option value="Thuesday">Thuesday</option>
      <option value="Wednesday">Wednesday</option>
      <option value="Thursday">Thursday</option>
      <option value="Friday">Friday</option>
      <option value="Saturday">Saturday</option>
      <option value="Sunday">Sunday</option>
    </select>
  </form>
    <button id="addAnEvent">Create</button>
</template>