<div class="timetable-title-create">
  <h1 data-id="{{TT._id}}">{{TT.title}}</h1>
  <div id="divBtn"></div>
</div>
<section id="grid"></section>
<div id="Affichage">
  {{!-- <div id="list">
    <ul id="ullist"></ul>
  </div> --}}
</div>
<template id="templateEdit">
  <div id="afficheEvent">
    <div id="printEvent">
      <div id="titleclose">
        <h2 id="h2edit"></h2><button id="closeedit"></button>
      </div>
    </div>
    <div id="contentEdit"></div>
    <div id="editDiv"></div>
  </div>
  </div>
</template>

<template id="createEvent">
  <form id="newEvent">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" />
    <label for="content">Content</label>
    <input type="text" name="content" id="content" />
    <label for="hour">Hour</label>
    <select name="hour" id="hour">
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
    </select>
    <select name="day" id="day">
      <option value="0">Monday</option>
      <option value="1">Tuesday</option>
      <option value="2">Wednesday</option>
      <option value="3">Thursday</option>
      <option value="4">Friday</option>
      <option value="5">Saturday</option>
      <option value="6">Sunday</option>
    </select>
    <input type="color" name="color" id="color" value="#FFFFFF">
  </form>
  <button id="addAnEvent">Create</button>
</template>