body {
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
    background-image: url('../images/layered-waves-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
}

#timetable {
    border: 1px solid black;
    display: flex;
    width: 70vw;
}

.day {
    border: 1px solid black;
    width: 10vw;
}

.day > div {
    height: 50vh;
    border: 1px solid black;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

h2 {
    text-align: center;
    font-size: 40px;
}

/************************* LOGIN / INDEX *************************/

.main-login-signup {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
    color: white;
}

.main-login-signup h2 {
    margin-top: 3rem;
    font-size: 40px;
}

.main-login-signup input {
    height: 3rem;
    width: 17rem;
}

.main-login-signup section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    padding-bottom: 5rem;
}
.main-title {
    font-size: 100px;
    text-align: center;
}

.form-login-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
    width: 30rem;
    padding-top: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 10rem;
    width: 30rem;
}

.form input {
    border-radius: 10px;
    font-size: 15px;
    width: 20rem;
    padding-left: 20%;
    background-color: transparent;
    color: white;
    /* border: 0.5px solid white; */
    border: none;
    box-shadow: 0 0 5px transparent;
}

.form input:focus {
    outline: none !important;
    /* border: 2px solid rgb(255, 255, 255); */
    border: none;
    box-shadow: 0 0 5px #ffffff;
}
.form input.red {
    box-shadow: inset 0 0 4px #ffffff;
    animation: pulset 1s infinite;
}

@keyframes pulset {
    0% {
        box-shadow: inset 0 0 2px #ffffff;
    }
    25% {
        box-shadow: inset 0 0 4px #ffffff;
    }
    50% {
        box-shadow: inset 0 0 2px #ffffff;
    }
    75% {
        box-shadow: inset 0 0 4px #ffffff;
    }
    100% {
        box-shadow: inset 0 0 2px #ffffff;
    }
}

.login-title {
    width: 100wh;
}

.form input::placeholder {
    text-indent: 3rem;
}

/********************** LOGIN BUTTON ***********************/

.bn54 {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 45px;
    width: 130px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.6);
    margin: 2rem auto;
    font-size: 15px;
    letter-spacing: 2px;
}

.bn54 .bn54span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.bn54:hover {
    animation: bn54rotate 0.7s ease-in-out both;
}

.bn54:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 2s;
}

@keyframes bn54rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes bn54storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

/********************************** CREATE BUTTON *******************/
.button-28 {
    appearance: none;
    background-color: white;
    border: 2px solid #1a1a1a;
    border-radius: 15px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20wh;
    will-change: transform;
}

.button-28:disabled {
    pointer-events: none;
}

.button-28:hover {
    color: #fff;
    background-color: transparent;
    border-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}

.button-29 a {
    color: black;
}

.button-29 a:hover {
    color: white;
}

.button-29 {
    appearance: none;
    background-color: white;
    border: 2px solid #1a1a1a;
    border-radius: 15px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20wh;
    will-change: transform;
}

.button-29:disabled {
    pointer-events: none;
}

.button-29:hover {
    color: #fff;
    background-color: transparent;
    border-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: none;
    transform: translateY(0);
}

.button-80 {
    background: #837676;
    border: 1px solid black;
    backface-visibility: hidden;
    border-radius: 0.375rem;
    border-style: solid;
    border-width: 0.125rem;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 1.3;
    padding: 0.875rem 1.125rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform 0.2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-80:not(:disabled):hover {
    transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
    transform: scale(1.05) translateY(0.125rem);
}

.button-80:focus {
    outline: 0 solid transparent;
}

.button-80:focus:before {
    content: '';
    left: calc(-1 * 0.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1 * 0.375rem);
    transition: border-radius;
    user-select: none;
}

.button-80:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
    border-width: 0;
}

.button-80:not(:disabled):active {
    transform: translateY(0.125rem);
}

.button-81 {
    background: #ca1010;
    border: 1px solid black;
    backface-visibility: hidden;
    border-radius: 0.375rem;
    border-style: solid;
    border-width: 0.125rem;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 1.3;
    padding: 0.875rem 1.125rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform 0.2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-81:not(:disabled):hover {
    transform: scale(1.05);
}

.button-81:not(:disabled):hover:active {
    transform: scale(1.05) translateY(0.125rem);
}

.button-81:focus {
    outline: 0 solid transparent;
}

.button-81:focus:before {
    content: '';
    left: calc(-1 * 0.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1 * 0.375rem);
    transition: border-radius;
    user-select: none;
}

.button-81:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

.button-81:focus:not(:focus-visible):before {
    border-width: 0;
}

.button-81:not(:disabled):active {
    transform: translateY(0.125rem);
}
/********************************** PROFILE ******************************/

main {
    height: 40vh;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#main-profile {
    width: 90vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
}

#list {

  width: 80vw;
  
}

#list ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3vw;

}

#list li {
    list-style: none;
    margin-top: .5vh;
}

.ulList {
  height: 45vh;
  /* display: flex; */
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: hidden;
  /* flex-wrap: wrap; */
}

.ulList li {
  /* height: 20vh; */
  /* width: 20vw; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ulList li a button {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.divEdit {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.divEdit button {
  /* width: 5vw; */
  text-align: center;
}

/**********************************CSS FOR THE GRID******************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cell {
    /* background-color: #263793; */
    border: 0.5px solid white;
    border-radius: 10px;
}

#grid {
    display: grid;
    /* margin-top: 4rem; */
    padding: 1rem;
    margin-left: 3.5rem;
    grid-template-columns: repeat(8, 11vw);
    grid-template-rows: repeat(11, 7vh);
}

#Affichage {
    display: flex;
    justify-content: space-between;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.event.contained::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.event.contained {
    overflow-y: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 8000px;
    background-color: #535353;
}
*::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 2px 4px rgba(0, 0, 0, 0.3); */
    background-color: whitesmoke;
    border-radius: 8000px;
}
.event {
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
    /* background-color: E6E4F5; */
}

#afficheEvent {
    position: absolute;
    flex-direction: column;
    display: flex;
    border: 2px solid black;
    max-width: 12.5rem;
    border-radius: 10%;
}

#titleclose {
    display: flex;
    justify-content: space-between;
}

#closeedit {
    height: 50%;
    margin-top: 0.1rem;
    margin-right: 0.2rem;
}

#contentEdit {
    padding: 0.3rem;
    text-align: center;
    margin: 0 0.5rem;
    border-bottom: 2px solid white;
}
#divCreate{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin-bottom: 0.2rem;
    overflow-y: scroll;
    height: 30vh;
    visibility: hidden;
}

#editDiv {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin-bottom: 0.2rem;
    overflow-y: scroll;
    height: 20vh;
}

#editAnEvent {
    margin: auto;
}

#createTimeTable{
    width: 30vw;
    height: 20vh;
    display: flex;
    /* margin-bottom: 25vh; */
    position: relative;
    top: -20vh;
    /* background-color: #101f60; */
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
.days,
.hours {
    text-align: center;
    padding-top: 10.76px;
}

/*********************** NAV BAR ***************************/
nav > a {
    color: white;
}

nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    height: 3rem;
    width: 100vw;
}

nav > ul > li > a {
    font-size: 40px;
    font-weight: 900;
}

nav > ul > li > a:hover {
    display: inline-block;

    animation: headShake; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

/* #Affichage {
    display: flex;
    justify-content: space-between;
} */
